<div class="side-bar" ng-controller="sidebarController">
        <ul>
            <li class="menu-head">
                <img src="../images/logo_onlyName.png" style="width: 175px; height: auto; padding-top: 10px"><a href="#" class="push_menu"><img src="../images/logo_noName.png" class="pull-right"></a>
            </li>
            <div class="menu">
                <li>
                 <hr>
                </li>
                <li>
                    <a href="/notificacoes" <% if(page === "/notificacoes"){ %> class="active" <% } %>>
                       Notificações
                       <span class="glyphicon glyphicon-globe pull-right"></span>
                     </a>
                </li>
                <li>
                  <hr>
                </li>

                    <li>
                          <a href="/agenda" <% if(page === "/agenda"){ %> class="active" <% } %>> Agenda <span class="glyphicon glyphicon-calendar pull-right"></span></a>
                    </li>
                    <% if(user.category === 'c'){ %>
                    <li>
                        <a href="/pacientes" <% if(page === "/pacientes"){ %> class="active" <% } %>>Pacientes <span class="glyphicon glyphicon-user pull-right"></span></a>
                    </li>
                    <% } %>
                    <% if(user.category === 'c'){ %>
                    <li>
                        <a href="/medicos" <% if(page === "/medicos"){ %> class="active" <% } %>> Médicos <span class="glyphicon glyphicon-briefcase pull-right"></span></a>
                    </li>
                    <% } %>
                    <li>
                      <a href="/config" <% if(page === "/config"){ %> class="active" <% } %>>Configurações <span class="glyphicon glyphicon-cog pull-right"></span></a>
                    </li>
                    <li>
                      <a data-toggle="modal" data-target="#sair" href="#">Sair <span class="glyphicon glyphicon-log-out pull-right"></span></a>
                    </li>
                    <li style="position: absolute; bottom: 0;">
                      <span class="navbar-text" style="font-size: large; text-align: center">
                        Boas Vindas <br>{{usuarioLogado.fullname}}!
                      </span>
                    </li>
            </div>

        </ul>
    </div>
