<% if(message){ %>
  <p><%= message %></p>
<% } %>

<form action="/clinica/nova" method="post">
  <input type="text" name="name" placeholder="Nome">
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="cnpj" placeholder="CNPJ">
  <input type="text" name="address" placeholder="Endereço">
  <input type="password" name="password" placeholder="Senha">
  <button type="sumbit" name="button">Criar</button>
</form>
