<% include partials/header.ejs %>

<body id="main" ng-app="medlineApp">
<div class="container" id="container-sidebar">
        <div class="row">
            <div class="wrapper">
                <% include partials/sidebar.ejs %>

                <div class="content" id="main-content">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat sapien non velit
                                vulputate imperdiet. Aenean finibus viverra vehicula. Cras accumsan id lacus placerat ultrices.
                                Donec in ligula nulla. Nunc facilisis mi odio, sed sollicitudin augue convallis dapibus.
                                Nulla eget tempus erat, nec dapibus purus. Curabitur pulvinar mollis ante sed accumsan.
                                Cras nisi velit, lacinia a ipsum eget, vestibulum tincidunt massa. Fusce dignissim vitae erat
                                sed pulvinar. Morbi blandit dui id urna tempus dignissim. Fusce ac tincidunt est, sit amet
                                scelerisque libero. Etiam dapibus mollis justo, a accumsan eros sollicitudin sagittis. </p>
<br>
<p>Maecenas ac mollis elit. Maecenas ut erat at augue mollis suscipit. Fusce nec eros ullamcorper nulla pharetra pulvinar. Sed mattis purus ut tempus viverra. Nam lacinia magna vel nulla rutrum lobortis. Mauris urna dolor, euismod in condimentum non, faucibus vel nulla. Duis a augue posuere, interdum justo ac, vulputate diam. Praesent dignissim magna mi, in posuere nisl tempus vel. Sed tincidunt aliquam nisl. Quisque condimentum faucibus nisl sed fermentum. Nulla eleifend, leo sit amet mattis pharetra, purus dui imperdiet turpis, et dictum dolor quam et nunc. Proin quis ultrices urna, in malesuada felis. In pellentesque purus dolor. Praesent tempor leo sed nulla vehicula, id mollis quam gravida. </p>
<br>


            </div>
                </div>
        </div>
</div>

                      <div id="sair" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Logout</h4>
                                    </div>
                                <div class="modal-body">
                                    <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-danger" href="/logout">Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>
    </body>
    </head>
    </html>
