<% include partials/header.ejs %>

<body id="main" ng-app="medlineApp">
<div class="container" id="container-sidebar">
        <div class="row">
            <div class="wrapper">
                <% include partials/sidebar.ejs %>

                <div class="content" id="main-content">
                    <h1>Bem vindo ao Medline, {{usuarioLogado.fullname}}! </h1>

                    <p> Na nossa plataforma, você encontrará todas as ferramentas necessárias para melhorar a qualidade do atendimento a um paciente, bem como 
                                    facilitar a relação e a comunicação hospital-paciente-medico. O Medline foi construído por uma equipe de desenvolvedores (Catarina Silva, José Lucas, Kallynny Karlla e Marcela Tejo) 
                                    especialmente para a disciplina Projeto 1 do curso de Ciência da Computação da Universidade Federal de Campina Grande.
                                    </p>
                               <p> Clique em uma das opções do menu lateral para começar!</p>  
                            
                               <center><img src="../images/img_home.jpg" style="height:300px; width: auto;"></center>
                        </div>
                    </div>
            </div>
        </div>

                      <div id="sair" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Logout</h4>
                                    </div>
                                <div class="modal-body">
                                    <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-danger" href="/logout">Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>
    </body>
    </head>
    </html>
