<% include partials/header.ejs %>

<body style="background: #73B7C0">

<div class="text-center">
    <img src="../images/logo.png"><br><br>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login">Entrar</button>

</div>

<div class="navbar navbar-fixed-bottom" id="cadastro">
	Ainda não é cadastrado? Faça seu cadastro agora mesmo

	<a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cadastrar">Cadastre-se</a>
  </div>



<!-- Modal Login -->
<div id="login" class="modal fade">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					<div class="avatar">
							<img src="../images/logo_noName.png" alt="Medline">
					</div>				<br>
					<h4>Acesse o Medline</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<form action="/login" method="post">
						<div class="form-group">
							<input type="text" class="form-control" name="username" placeholder="Usuário" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" placeholder="Senha" required="required">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a href="#">Esqueceu a Senha?</a>
				</div>
			</div>
		</div>

	</div> <!-- Fim do Modal Login -->


<!--  Alerta de login
@if(message != "") {
    @if(message contains("Erro")){
        <div class="alert alert-danger" role="alert" id="successPanel">
        } else {
        <div class="alert alert-success" role="alert" id="successPanel">
        }
    <button type="button" class="close" id="close"><span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
    @message
</div>
} -->



	<!-- Modal Cadastrar -->
    <div id="cadastrar" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
							<div class="modal-header">
								<div class="avatar-cadastro">
										<img src="../images/default_user_avatar.jpg" alt="Medline" id="modal-avatar">
                                </div><br>
                                <h4>Cadastro de <span id="cadastro-de">Paciente</span></h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
                <div class="modal-body">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs">
                            <li class="active"><a href="#user" data-toggle="tab" class="avatar-user">Paciente</a></li>
                            <li><a href="#clinica" data-toggle="tab" class="avatar-clinica">Clínica</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="user">
                                    <form action="/patient/new" method="post"><br>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="username" placeholder="Nome do Paciente" required="required" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password" placeholder="Senha" required="required">
                                            </div>
                                                      <div class="form-group">
                                                <input type="text" class="form-control" name="telephone" placeholder="Telefone" required="required" autofocus>
                                            </div>
                                                                <div class="form-group">
                                                <input type="number" class="form-control" name="age" placeholder="Idade" required="required" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                                            </div>
                                        </form>
                </div>

                    <div class="tab-pane" id="clinica">
                            <form action="/clinic/new" method="post"><br>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="username" placeholder="Nome da Clínica" required="required" autofocus>
                                    </div>
																		<div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="Endereço" required="required" autofocus>
                                    </div>
                          					<div class="form-group">
                                        <input type="text" class="form-control" name="telephone" placeholder="Telefone" required="required" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Senha" required="required">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                                    </div>
                                </form>
                    </div>
            </div>
        </div>
    </div>
<!-- Fim modal-cadastro -->

</body>
</html>
