<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Medline</title>


<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!-- styles -->
<link href="../css/custom.css" rel="stylesheet">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/custom.js"></script>
</head>


<body style="background: #73B7C0">
<div class="text-center">
    <img src="../images/logo.png"><br><br>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login">Entrar</button>


</div>

<div class="navbar navbar-fixed-bottom" id="cadastro">
	Ainda não é cadastrado? Faça seu cadastro agora mesmo
	<a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cadastrar">Cadastre-se</a>
  </div>



<!-- Modal Login -->
<div id="login" class="modal fade">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					<div class="avatar">
							<img src="../images/logo_noName.png" alt="Medline">
					</div>				<br>
					<h4>Acesse o Medline</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<form action="/login" method="post">
						<div class="form-group">
							<input type="text" class="form-control" name="username" placeholder="Usuário" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" placeholder="Senha" required="required">
						</div>
						<div class="form-group">
								<input type="radio" name="tipo" value="clinica" checked="checked"> Clínica<br>
								<input type="radio" name="tipo" value="medico"> Médico<br>
								<input type="radio" name="tipo" value="paciente"> Paciente
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a href="#">Esqueceu a Senha?</a>
				</div>
			</div>
		</div>

	</div> <!-- Fim do Modal Login -->


<!--  Alerta de login
@if(message != "") {
    @if(message contains("Erro")){
        <div class="alert alert-danger" role="alert" id="successPanel">
        } else {
        <div class="alert alert-success" role="alert" id="successPanel">
        }
    <button type="button" class="close" id="close"><span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
    @message
</div>
} -->



	<!-- Modal Cadastrar -->
    <div id="cadastrar" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
							<div class="modal-header">
								<div class="avatar-cadastro">
										<img src="../images/default_user_avatar.jpg" alt="Medline" id="modal-avatar">
                                </div><br>
                                <h4>Cadastro de <span id="cadastro-de">Paciente</span></h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
                <div class="modal-body">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs">
                            <li class="active"><a href="#user" data-toggle="tab" class="avatar-user">Paciente</a></li>
                            <li><a href="#medico" data-toggle="tab" class="avatar-medico">Médico</a></li>
                            <li><a href="#clinica" data-toggle="tab" class="avatar-clinica">Clínica</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="user">
                                    <form action="/patient/new" method="post"><br>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="username" placeholder="Nome do Paciente" required="required" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password" placeholder="Senha" required="required">
                                            </div>
                                                      <div class="form-group">
                                                <input type="text" class="form-control" name="telephone" placeholder="Telefone" required="required" autofocus>
                                            </div>
                                                                <div class="form-group">
                                                <input type="number" class="form-control" name="age" placeholder="Idade" required="required" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                                            </div>
                                        </form>
                </div>
                <div class="tab-pane" id="medico">
                        <form action="/doctor/new" method="post"><br>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Usuário" required="required" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Senha" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="age" placeholder="Idade" required="required" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="cellphone" placeholder="Telefone" required="required" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="crmNumber" placeholder="Número do CRM" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="specialty" placeholder="Especialidade" autofocus>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                                </div>
                            </form>
                    </div>

                    <div class="tab-pane" id="clinica">
                            <form action="/clinic/new" method="post"><br>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="username" placeholder="Nome da Clínica" required="required" autofocus>
                                    </div>
																		<div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="Endereço" required="required" autofocus>
                                    </div>
                          					<div class="form-group">
                                        <input type="text" class="form-control" name="telephone" placeholder="Telefone" required="required" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Senha" required="required">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                                    </div>
                                </form>
                    </div>
            </div>
        </div>
    </div>
<!-- Fim modal-cadastro -->

</body>
</html>
