<% include partials/header.ejs %>
<body id="main" ng-controller="medicosController">
  <div class="container" id="container-sidebar">
    <div class="row">
      <div class="wrapper">
        <% include partials/sidebar.ejs %>

        <div class="content" id="main-content">

   <div>
<div class="col-md-6">
  <h1>Médicos</h1>
<ul class="list-group"  style="overflow:auto;height:400px;">
    <input class="form-control" placeholder="Filtre os médicos pelo nome" ng-model="nameDoctor">

    <br>

    <div ng-repeat="medico in medicos | filter: nameDoctor">
        <div ng-if="usuarioLogado.associatedDoctors.includes(medico._id) == false">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <!-- verificar se tá correto!!! associação do medico -->

                <img src="../images/doctor_avatar.png" style="border-radius: 50%; width: 15%;height: auto;"> {{medico.fullname}}, {{medico.specialty}}
              <span ng-if="notificacaoExiste(medico._id) == false">
                  <button class="btn btn-success btn-xs pull-right" ng-click="associarMedico(medico._id)" data-toggle="tooltip" title="Associar médico"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
              <span ng-if="notificacaoExiste(medico._id) == true">
                  <button class="btn btn-warning btn-xs pull-right" data-toggle="tooltip" title="Pendente"><span class="glyphicon glyphicon-warning-sign"></span></button>
              </span>
            </div>
    </li>
  </div>
  </ul>
  <a type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#cadastrar">Cadastrar Médico</a>
</div>
                </div>

    <div>
<div class="col-md-6">
  <h1>Médicos Associados</h1>
    <ul class="list-group">

      <input class="form-control" placeholder="Filtre os médicos cadastrados pelo nome" ng-model="nameDoctorAssociated">

      <br>
        <div ng-repeat="medico in medicos | filter: nameDoctorAssociated">
            <div ng-if="usuarioLogado.associatedDoctors.includes(medico._id) == true">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <!-- verificar se tá correto!!! desassociação do medico -->
                    <img src="../images/doctor_avatar.png" style="border-radius: 50%; width: 15%;height: auto;"> {{medico.fullname}}, {{medico.specialty}}
                      <button class="btn btn-danger btn-xs pull-right" ng-click="cancelarAssociacao(usuarioLogado._id, medico._id)" data-toggle="tooltip" title="Desassociar médico"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
        </li>
        </div>
      </ul>
    </div>
    </div>




          <!-- <div class="row">
            <div class="col-md-6">
              <div class="acordion-group">
                <div class="container" id="container-medicos">
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <span class="glyphicon glyphicon-briefcase"></span> Lista de Médicos Geral
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <div ng-repeat="medico in medicos">
                              <div ng-if="usuarioLogado.associatedDoctors.includes(medico._id) == false">
                                <img src="../images/default_user_avatar.jpg" id="avatar_lista_medico"> {{medico.fullname}}
                                <div ng-if="notificacaoExiste(medico._id) == false">
                                  <a type="button" class="btn btn-primary" ng-click="associarMedico(medico._id)">Associar</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>

                      </div>

                      <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cadastrar">Cadastrar Médicos</a>

                      -->´

                     <!-- modal de cadastrar medico -->
                      <div id="cadastrar" class="modal fade">
                      <div class="modal-dialog modal-login">
                          <div class="modal-content">
                            <div class="modal-header">
                              <div class="avatar-cadastro">
                                  <img src="../images/doctor_avatar.png" id="modal-avatar">
                                              </div><br>
                                              <h4>Cadastro de Médico</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
      <div class="modal-body">
                              <div id="medico">
                                <form ng-submit="cadastraMedico()"><br>
                                  <div class="alert alert-danger" id="error-message-cadastroMedico" style="display:none">
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="fullname" placeholder="Nome" required="required" autofocus>
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Usuário" required="required" autofocus>
                                  </div>
                                  <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Senha" required="required">
                                  </div>
                                  <div class="form-group">
                                    <input type="number" class="form-control" name="age" placeholder="Idade" required="required" autofocus>
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="cellphone" placeholder="Telefone" required="required" autofocus>
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="crmNumber" placeholder="Número do CRM" autofocus>
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="specialty" placeholder="Especialidade" autofocus>
                                  </div>
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> <!-- Fim modal cadastro   -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="acordion-group">
                <div class="container" id="container-medicos">
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                           <span class="glyphicon glyphicon-briefcase"></span> Lista de Médicos Associados
                         </div>
                      <div class="panel-body">
                        <ul class="list-group">
                          <div ng-repeat="medico in medicosAssociados">
                            <li class="list-group-item">
                              <img src="../images/default_user_avatar.jpg" id="avatar_lista_medico"> {{medico.fullname}} %>
                              <a type="button" class="btn btn-danger" ng-click="cancelarAssociacao(usuarioLogado._id, medico._id)">X</a>
                            </li>
                          </div>


                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div> <!-- fim da div main content-->
      </div>
    </div>

    <div id="sair" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Logout</h4>
          </div>
          <div class="modal-body">
            <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-danger" href="/logout">Sair</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</head>
</html>
