<% include partials/header.ejs %>
<body id="main" ng-controller="notificacoesController">
  <div class="container" id="container-sidebar">
    <div class="row">
      <div class="wrapper">
        <% include partials/sidebar.ejs %>

        <div class="content" id="main-content">

          <h1>Notificações</h1>

          <div class="row">
            <div ng-repeat="notificacao in notificacoes">
              <div class="col-xs-6 col-sm-4 col-lg-3">
        			<div class="thumbnail ">
								<img src="../images/hospital_avatar.png" style="border-radius: 50%; width: 50%;height: auto;">
        				<div class="caption">
        					<h3 style="text-align: center">{{paciente.fullname}}</h2>
                  <hr>
                  <div style="text-align: center">
                    {{notificacao.message}}
                    <br>
                    <a class="btn btn-success btn-xs" href="/doctor/acceptAssociation/{{notificacao._id}}">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-danger btn-xs" href="/doctor/rejectAssociation/{{notificacao._id}}">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                  </div>
        				</div>
        				<!-- /.caption -->
        			</div>
        			<!-- /.thumbnail -->
        		</div>
          </div>

          <!--
            <div class="col-md-6">
              <div class="acordion-group">
                <div class="container" id="container-medicos">
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                       <span class="glyphicon glyphicon-briefcase"></span> Suas Notificações
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                          <% for(var i = 0; i < notificacoes.length; i++){ %>
                            <li class="list-group-item">
                               <img src="../images/default_user_avatar.jpg" id="avatar_lista_medico">
                               <%= notificacoes[i].message %>
                               <a type="button" class="btn btn-success" href="/doctor/acceptAssociation/<%= notificacoes[i]._id %>">V</a>
                               <a type="button" class="btn btn-danger" href="/doctor/rejectAssociation/<%= notificacoes[i]._id %>">X</a>
                            </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
          </div>
        </div>
      </div> <!-- fim da div main content-->
    </div>
  </div>

                   <div id="sair" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Logout</h4>
                                    </div>
                                <div class="modal-body">
                                    <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-danger" href="/logout">Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</head>
</html>
