<% include partials/header.ejs %>

<body id="main" ng-app="medlineApp">
<div class="container" id="container-sidebar">
        <div class="row">
            <div class="wrapper">
                  <% include partials/sidebar.ejs %>

                  <div class="content" id="main-content">

                      <div class="acordion-group">
                          <div class="container" id="container-medicos">
                              <div class="col-md-4">
                                          <div class="panel panel-primary">
                                              <div class="panel-heading">
                                                     <span class="glyphicon glyphicon-briefcase"></span> Lista de Pacientes
                                              </div>
                                              <div class="panel-body">
                                                  <ul class="list-group">
                                                      <% for(var i = 0; i < pacientes.length; i++){ %>
                                                        <a data-toggle="collapse" data-target="#medico1" data-parent="#container-medicos" href="#">
                                                          <li class="list-group-item">
                                                               <img src="../images/default_user_avatar.jpg" id="avatar_lista_medico"> <%= pacientes[i].username %>
                                                          </li>
                                                        </a>
                                                      <% } %>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>

                                  </div>

                              </div>

                              </div> <!-- fim da div main content-->

                   <div id="sair" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Logout</h4>
                                    </div>
                                <div class="modal-body">
                                    <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-danger" href="/logout">Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

               </body>
               </head>
               </html>
