<div id="sair" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Logout</h4>
                        </div>
                    <div class="modal-body">
                        <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="/logout">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 