<html>
<head>
<script>

$( ".button" ).click(function() {
		$(".s").hide();
    $(this.getAttribute("href")).toggle();
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

        <div>
                <a class="button" href="#item">REGISTER</a>
                   <a class="button" href="#item1">REGISTER</a>
                      <a class="button" href="#item2">REGISTER</a>
                         <a class="button" href="#item2">REGISTER</a>
            </div>
            <div class="s" id="item" hidden>
               Some hidden content
            </div>
            <div class="s" id="item1" hidden>
               Some hidden1 content
            </div>
            <div class="s" id="item2" hidden>
               Some hidden2 content
            </div>
            <div class="s" id="item3" hidden>
               Some hidden3 content
            </div>
</body>

</html>